body {
    margin: 0;
}

header {
    background-image: linear-gradient(to right, #42a5f5, #0d47a1);
    padding: 15px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
}

.list-group {
    gap: 15px
}

h2 {
    padding-left: 10px;
}

#search-form {
    padding-left: 10px;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}



@media (width <=768px) {
    h2 {
        text-align: center;
    }

    .forecast-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width <=576px) {
    .forecast-grid {
        grid-template-columns: 1fr;
    }
}